.section-width {
  max-width: 1440px;
  margin: 0 auto;
}

.primary-text {
  color: #29af8a;
}

.secondary-text {
  color: #7f8b99;
}

.primary-bg {
  background: #29af8a;
}

.secondary-bg {
  background: #7f8b99;
}

.primary-border {
  border: 1px solid #29af8a;
}

.secondary-border {
  border: 1px solid #7f8b99;
}

.about-card:hover > img {
  opacity: 0.5;
}

.about-card:hover > .about-card-body {
  position: absolute;
  top: 0;
  transition: 300ms;
  color: #29af8a;
}
